# Data Science Tools and Ecosystem

## Author:
Lena Ray

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Identify and list some popular data science languages
- Identify and list some popular data science libraries
- Identify and list some popular open-source development environment tools for data science
- Create examples of markdown and code cell functions in Python
- Create examples of simple tables in Python
- Create exmplas of simple arithmetic equations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy 
3. Pandas
4. TensorFlow

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Hadoop|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by dividing by 60 (output unit is HOURS)
minutes=200 #input minutes to be converted
hours=minutes/60
hours

3.3333333333333335